<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= item.authors_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= item.group_id %>
  </p>

</div>
